<p>
  Añadir comentario:
</p>

<form action="/quizes/<%= quizid %>/comments/" method="post">
  <input type="text" id="comment" name="comment[texto]" required="true" placeholder="Comentario..."/>
  <input type="submit" value="Enviar"/>
</form>
