
    <form method="get" action="/quizes/answer">
      <p>Pregunta:<%= pregunta %></p>
      <input type="text" name="respuesta" value="Responde aquí" required="true"/>
      <input type="submit" value="Enviar"/>
    </form>
