
    <form method="get" action="/quizes/<%= quiz.id %>/answer">
      <p>Pregunta: <%= quiz.pregunta %> (<%= quiz.categoria %>)</p>
      <input type="text" name="respuesta" required="true"/>
      <input type="submit" value="Enviar"/>
    </form>
